
a:link, a:visited, a:hover, a:active {
    color: #B2AFFF;
    text-decoration: none;
}

body {
    --color1: #222222;
    --color2: #2D2D2D;
    --color3: #3B3B3B;

    --color-font1: #DBDEE1;
    --color-font2: #949BA4;
    --color-font3: #A78EFF;
    display:flex;

    background-color: var(--color1);

    font-size: 16px;
    font-family: "Courier Prime", serif;
}

body, html, main{
    margin: 0;
    padding: 0;
    min-width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

#sidebar {
    flex-basis: calc(min(300px, max(200px, 10%)));
    padding: 60px 16px 16px 16px;
}

#sidebar-toggle {
    display: none;
}

#content-parent{
    flex-grow: 1;
    justify-content: left;

    box-sizing: border-box;
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
}

#content {
    display: inline-block;
    width: 100%;
    max-width: calc(min(100%,1000px));
    white-space: nowrap;
}

#sidebar ul {
    padding: 0px 16px 0px 8px;
    line-height: 1.75;
    list-style-type: none;
}

#sidebar li {
    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;
    padding: 4px 16px 2px;
    font-size: 1.0rem;
}

#sidebar li a {
    display: block;
    width: 100%;
    color: var(--color-font2);
}

#sidebar li:hover {
    background-color: #303030;
}

#sidebar .header {
    pointer-events: none;
    color: var(--color-font3);
    font-size: 1.1rem;
}

#sidebar hr {
    border: 1px var(--color2) solid;
}

/* Table Striping, with overriding for the Table Header */

#content .stripes tr:nth-child(odd):not(.table-header) {
    background-color: var(--color1);
}

#content .stripes tr:nth-child(even):not(.table-header) {
    background-color: var(--color2);
}

#content .stripes th {
    background-color: black;
}

/* Tables that have hoverable table rows */

#content .hoverable tr:nth-child(odd):hover:not(.table-header) {
    background-color: #323232;
}

#content .hoverable tr:nth-child(even):hover:not(.table-header) {
    background-color: #323232;
}

#content .hoverable tr:hover{
    background-color: var(--color1);
}

/* Tables that are too long can wrap words */

#content .wrappable td {
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

/* Things which enable a Cursor Pointer event */

#content .cursor {
    cursor: pointer;
}

/* Table Headers in General */

#content .table-header th:first-child {
    border-top-left-radius: 12px;
}

#content .table-header th:last-child {
    border-top-right-radius: 12px;
}

#content .table-header th {
    background-color: #171717;
    color: var(--color-font3);
    font-weight: 400;
}

#content .table-small-header th {
    background-color: #171717;
    color: var(--color-font3);
    font-size: small;
}

/* Table Spacer for chaining Tables as a hack */

#content .table-spacer th, #content .table-spacer tr {
    background-color: var(--color1);
    height: 1rem;
}

#content .table-spacer-small th, #content .table-spacer-small tr {
    background-color: #171717;
    padding: 0px;
    height: 0.4rem;
}

/* Generic Table CSS for all Tables */

#content table {
    border-collapse: collapse;
    line-height: 96%;
}

#content td {
    border-bottom: 1px #444444 solid;
    color: var(--color-font2);
}

#content th, #content td {
    padding: 10px 12px 6px 12px;
}

#content .anchor-container {
    display: flex;
    justify-content: space-between;
}

#content .anchor-container > .anchorbutton {
    flex: 1;
    margin-right: 4px;
}

#content .anchor-container > .anchorbutton:last-child {
    margin-right: 0px;
}

#content .anchorbutton {
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    padding: 8px 0px 6px;
    color: var(--color-font1);
    font-size: 13px;
    font-family: "Courier Prime", serif;
    text-align: center;
}

#content .btn-blue {
    background-color: #3B2A6D;
}

#content .btn-start {
    background-color: #3B2A6D;
    width: 100%;
}

#content .btn-preset {
    background-color: #963090;
}

#content .btn-yellow {
    background-color: #7A4E09;
}

#content .btn-red {
    background-color: #651E3E;
}

#content .btn-disabled {
    background-color: var(--color3);
}

#content .btn-blue:hover {
    background-color: #2E3F57;
}

#content .btn-start:hover {
    background-color: #2E3F57;
}

#content .btn-preset:hover {
    background-color: #11a983;
}

#content .btn-yellow:hover {
    background-color: #9B6B0F;
}

#content .btn-red:hover {
    background-color: #8E3D28;
}

#content .btn-disabled:hover {
    transform: none;
    cursor: not-allowed;
    background-color: var(--color3);
}

#content .copy-button {
    transition: color 0.2s ease-in-out;
    color: var(--color-font2);

}

#content .copy-button:hover {
    cursor: pointer;
    color: var(--color-font3);
}

/* Short StatBlock to show SPRT and Test Results */

#content .statblock {
    border-radius: 4px;
    background-color: #999;
    padding: 7px 10px 4px;
    color: black;
    font-size: 13px;
    line-height: 92%;
    font-family: "Courier New";
}

#content .statblock-green {
    background-color: #8766FF;
    color: #ddd;
}

#content .statblock-blue {
    background-color: #63A6FF;
    color: #ddd;
}

#content .statblock-yellow {
    background-color: #CD7267;
    color: #ddd;
}

#content .statblock-red {
    background-color: #FF295C;
    color: #ddd;
}

#content .redlink {
    color: #FF4D4D;
}

/* Long StatBlock which we can copy */

#content .long-statblock {
    border-radius: 4px;
    background-color: var(--color3);
    padding: 0.50rem 0.75rem;
    color: var(--color-font2);
}

/* Test Views */

#content #config {
    float: left;
}

#content #actions {
    float: left;
}

#content #results {
    display: inline-block;
    width: inherit;
}

#content .test-config {
    font-size: 1.0rem;
}

#content .test-config .td-label {
    color: var(--color-font1);
}

/* ??? */

td pre {
    margin: 0px;
    padding: 0px;
}

#content .error-message {
    color: red;
}

#content .warning-message {
    color: yellow;
}

#content .status-message {
    color: green;
}

#content .site-title {
    color: var(--color-font3);
}

#content .default-network {
    transform: scale(1.10);
    color: var(--color-font3);
}

#content .was-default-network {
    transform: scale(0.90);
    color: #EFF891;
}

#content .non-default-network {
    transform: scale(0.70);
    color: var(--color-font1);
}


#content .numeric {
    text-align: right;
}

#content .branch_name {
    font-style: italic;
}

#content .active-highlight {
    border-left: 4px solid var(--color-font3);
}

/* Styles for screen widths less than 768px */
@media (max-width: 767px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        flex-basis: 100%;
        transform: translateX(-100%);
        transition: transform cubic-bezier(0.82, 0.08, 0.1, 0.93) 0.3s;
        background-color: var(--color1);
        width: 100%;
        overflow-y: auto;
    }

    body.sidebar-open #sidebar {
        transform: none;
    }

    #sidebar-toggle {
        display: flex;
        position: relative;
        z-index: 10;
        border: none;
        background-color: transparent;
        padding: 10px;
        color: var(--color-font1);
        font-size: 2.2rem;
    }

    #content-parent {
        flex-grow: 0;
        flex-basis: 100%;
        padding: 0 8px;
        height: auto;
    }

    #content {
        margin-top: 70px;
        overflow-x: hidden;
    }

    #content-header {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        z-index: 10;
        background-color: var(--color1);
    }

    #content-header h2 {
        margin: 8px 0;
        /* Adjust the font size to the screen width, ensuring that the title doesn't overflow */
        font-size: clamp(1.0rem, 4.8vw, 1.4rem);
    }

    #content-header .site-title {
        white-space: break-spaces;
    }

    body {
        flex-direction: column;
    }

    /* Disable vertical body scrolling when the sidebar is open */
    body.sidebar-open {
        position: fixed;
        overflow-y: hidden;
    }

    /* Horizontally scrollable table */
    table {
        display: block;
        overflow-x: auto;
    }

    /* Tables cannot break words to avoid issues such as single-letter lines */
    /* The only exception is the test config table */
    #content .wrappable:not(.workload-container .test-config) td {
        word-break: normal;
    }

    /* Test Views */
    .workload-container {
        display: flex;
        flex-direction: column;
    }

    #content #actions {
        order: -1;
        margin: 0 0 1rem 0;
    }

    #content #config {
        float: none;
    }

    #content .long-statblock {
        overflow-x: auto;
    }
}


/* On-hover for long engine options in workloads */

#content .engine-options {
    position: relative;
}

#content .engine-options:hover .engine-options-popup {
    display: block;
}

#content .engine-options-popup {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #000;
    padding: 8px 12px;
}

